* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    --primary-color: white;
    --secondary-color: gray;
    --tertiary-color: black;
  }
  
  body {
    color: var(--tertiary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  /* HEADER / NAV BAR STYLES START */
  
  header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
  }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, .5);
  }
  
  header a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-shadow: 0 0 10px rgba(0, 0, 0, .5);
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
  }
  
  /* HEADER / NAVBAR STYLES END */
  
  
  
  /* FOOTER STYLES START */
  footer {
    background: var(--primary-color);
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  
  footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
  }
  
  footer div {
    line-height: 1.5;
    text-align: right;
  }
  
  footer a {
    color: var(--secondary-color);
  }
  /* END FOOTER STYLES */
  
  /* STYLE ALL SECTION TAGS */
  section {
    padding: 60px;
  }
  
  /* HERO STYLES START */
  .hero {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
  }
  
  .hero-main {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
  }


  /* SECTION STYLES START */

  .section-main {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      border-bottom: 1px solid;
      border-color: var(--secondary-color);
      justify-content: space-between;
      align-items: flex-start;
      width: 90%;
      margin: auto auto;
  }

  .section-content {
      display: flex;
      flex-wrap: wrap;
      width: 60%;

  }

  .section-title {
      display: flex;
      flex: 0 32%;
      font-size: 36px;
      width: 30%;
      color: var(--secondary-color);
      border-right: 3px solid;
      padding-right: 20px;
      padding-bottom: 20px;
  }

  
  .step:last-child {
    border-bottom: none;
  }
  
  .section-title {
    color: var(--secondary-color);
    font-size: 46px;
    flex: 1 30%;
  }
  
  .section-title {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
