* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-color-light: lightgray ;
    --background-color-dark: gray;
    --title-color-light: white;
    --title-color-dark: black;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

/* header and nav */

header {
    padding: 20px 35px;
    background-color: var(--background-color-light);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--title-color-dark);
  }

header a {
    text-decoration: none;
    color: var(--title-color-dark);
}

header nav {
    text-decoration: none;
    color: var(--title-color-dark);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}
  /* header and nav end */

/* footer */
footer {
    background: var(--background-color-light);
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%
}

footer h4 {
    color: var(--title-color-dark);
    font-size: 24px;
    margin: 0;
}
/* footer end */

/* style section tags */
section {
    padding: 60px;
}

/* section tags end */

/* hero */
.hero {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: 80%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
    background-attachment: fixed;
}

.hero-content {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: var(--title-color-dark);
    font-size: 18px;
    line-height: 1.2;
}

.hero-content h2 {
    font-style: italic;
    font-size: 24px;
    color: var(--title-color-dark);
}
/* hero end */

.section-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.section-title  {
    padding: 15px 15px;
    border-right: 2px solid;
    width: 30%;
}

.right-content {
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 15px;
}

.text-content {
    width: 30%;
    text-align: right;
}

.images-lrg img {
    width: 100%;
}

.images-sml img {
    width: 48%;
}
